GEMINI_API_KEY=AIzaSyA6xmJGkN6OEIg4OmSoRUZikCVQGfocNKc
GOOGLE_GENAI_USE_VERTEXAI=FALSE

LANGFUSE_PUBLIC_KEY=pk-lf-xxx
LANGFUSE_SECRET_KEY=sk-lf-xxx
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

# # Optional custom endpoint for self-hosted Langfuse
# LANGFUSE_HOST=http://localhost:3000
